body{
    background-color: lightskyblue;
}

.nav_link {
    padding: 10px;
    color: navy;
    font-size: 1.3em;
}
#content{
    max-width: 1000px;
    margin: 0 auto;
    
}
nav a {
    text-decoration: none;
}

nav a:hover{
    color: blueviolet;
}

nav{
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
}

p{
    text-align: center;
    color: black;
}

img{
    width: 70%;
    display: block;
    margin: 0 auto;
}

#main_title {
    font-size: 4em;
    text-align: center;
}

#sub_title{
    color: red;
}

footer{
    background-color: blanchedalmond;
}