@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Rubik+Spray+Paint&display=swap');

body{
    background-color: lightskyblue;
}

h1{
    font-family: 'Protest Riot';
    

}

.nav_link {
    padding: 10px;
    color: navy;
    font-size: 1.3em;
}
#content{
    max-width: 1000px;
    margin: 0 auto;
    
}
nav a {
    text-decoration: none;
}

nav a:hover{
    color: blueviolet;
}

nav{
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
}

p{
    text-align: center;
    color: black;
    width: 70%;
    margin: 0 auto;
    padding: 20px ;
    font-family: Rubik Spray Paint;
    background-color:coral;
    border: 3px solid black;
    box-sizing: border-box;
    border-radius: 30px;
}


img{
    width: 90%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 30px;
}

#main_title {
    font-size: 4em;
    text-align: center;
}

#sub_title{
    color: red;
}

footer {
    text-align: center;
    color: black;
    margin: 20px auto;
    font-family: 'Protest Riot';
    background-color: blanchedalmond;
}